*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'GothamPro', 'Arial', sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	position: relative;
	max-width: 1920px;
	min-width: 320px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.5);
}

/* Скрытие элементов */

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

/* Цвет хэштега -_- */

.hashtag {
	color: rgba(247, 57, 52, 1);
}

/* Грид сетка */

.grid-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr 60px;
  grid-template-areas:
  "main-header container"
  "main-header page-footer";
}

.main-header-wrap {
	grid-area: main-header;
	background-color: rgba(246, 246, 246, 1);
	z-index: 2;
}

.main-footer-wrap {
	grid-area: page-footer;
	background-color: rgba(60, 60, 60, 1);
}

.main-content-wrap {
	grid-area: container;
	background-color: rgba(255, 218, 45, 1);
}

.grid-section {
	display: grid;
	grid-template-columns: 50% 50%;
}

/* Грид сетка 640px */

@media (max-width: 640px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 80px 1fr 42px;
		grid-template-areas:
		"main-header"
		"container"
		"page-footer";
		width: 640px;
	}

	.grid-section {
		display: block;
	}
	
}

/* Стилизация хэдера */

.main-header {
	display: flex;
	justify-content: center;

	position: sticky;
	top: 0;
}

.main-logo {
	margin-bottom: 13px;
}

.main-logo-link {
	text-decoration: none;
}

.main-logo-wrap {
	margin: 26px;
	margin-bottom: 57px;
}

.main-logo-text {
	text-align: center;
	font-size: 16px;
	font-family: 'Gotham Pro Medium';
}

/* Стилизация хэдера 640px */

@media (max-width: 640px) {

	.main-header {
		display: flex;
		height: 100%;
	}

	.main-logo-wrap {
		margin: 0;

	}

	.main-logo {
		margin: 0;
		width: 57px;
		height: 50px;
		position: relative;
		top: 14px;
		left: 19px;
	}

	.main-logo-text {
		position: relative;
		top: -22px;
		left: 300%;
		font-family: 'Gotham Pro Medium';
		font-size: 18px;
		letter-spacing: 1px;
	}

	.main-nav {
		display: flex;
		width: 100%;
	}
}

/* Стилизация навигационного блока */

.main-nav-list {
	display: flex;
	flex-direction: column;
	text-align: center;
	list-style: none;
}

.main-nav-list a {
	font-size: 14px;
	font-family: 'Gotham Pro';
	color: rgba(85, 85, 85, 1);
	text-decoration: none;
	display: block;
	height: 100%;
	padding-top: 90px;
}

.main-nav-list li {
	width: 100%;
	height: 118px;
	border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;

}

.main-nav-list li:hover {
	background: white;
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.main-nav-list li:first-child {
	background-image: url('../img/gallery-nav-link.png');
	background-repeat: no-repeat;
	background-position-x: 50px;
	background-position-y: 29px;
}

.main-nav-list li:nth-child(2) {
	background-image: url('../img/about-nav-link.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 20px;
}

.main-nav-list li:last-child {
	background-image: url('../img/summer-nav-link.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 29px;
}

/* Стилизация навигационного блока 640px */

@media (max-width: 640px) {
	.main-nav-list {
		display: none;
	}
}
/* Первый блок */

.welcome {
	height: 0;
	position: relative;
	background-image: url('../img/welcome.jpg');
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    padding-top: 45.9%;
}

/* Первый блок 640px */

@media (max-width: 640px) {
	.welcome {
		padding-top: 174%;
		background-image: url('../img/welcome-mobile.jpg');
	}
}

/* Иконки в первом блоке */

.promo-block-wrap {
	position: absolute;
	top: 50px;
	left: 45px;
	display: flex;
	justify-content: space-around;
	width: 35vw;
}

.promo-list {
	position: absolute;
	top: 51px;

	display: flex;
	justify-content: space-around;
	width: inherit;
	height: 200px;
	list-style: none;
}

.promo-list li {
	display: block;
	width: 7rem;
	height: 80px;
	text-align: center;
	font-family: 'Gotham Pro';
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	color: rgba(69, 55, 10, 1);
	padding-top: 65px;
	border-radius: 50%;
}

.promo-list li:first-child {
	width: 7.9rem;
}

.promo-icon {
	width: 100px;
	height: 100px;
    background-color: white;
    border-radius: 50%;
}

@media (min-width: 1450px) {
	.promo-block-wrap {
		width: 50rem;
	}
	.promo-icon {
		width: 150px;
		height: 150px;
	}
	.promo-list {
		top: 100px;
	}
}

@media (max-width: 640px) {
	.promo-block-wrap {
		top: 150px;
		left: 35px;
		width: 560px;
	}

	.promo-list {
		top: 15px;
	}

	.promo-list li {
		font-size: 13px;
		line-height: 14px;
	}

	.promo-list li:nth-child(2) {
		padding-right: 10px;
	}
	
	.promo-icon {
		width: 64px;
		height: 64px;
	}
}

/* Промо надпись */

.promo-slogan-wrap {
	position: absolute;
	top: 52%;
	left: 4.5%;
	width: 245px;
	width: 28%;
	height: 175px;
	height: 40%;
}

.promo-slogan-wrap p {
	color: rgba(247, 57, 52, 1);
	letter-spacing: 3px;
}

.promo-slogan-wrap p:first-child {
	font-family: 'Gotham Pro Medium';
	font-size: 5.75rem;
	text-transform: uppercase;
}

.promo-slogan-wrap p:nth-child(2),
.promo-slogan-wrap span {
	font-family: 'Gotham Pro Light';
	font-size: 3.15rem;
	text-transform: uppercase;
}

.promo-slogan-wrap p:last-child {
	font-family: 'Gotham Pro Black';
	font-size: 4.6rem;
}

/* Промо надпись 640px */

@media (max-width: 640px) {
	
	.promo-slogan-wrap {
		top: 21px;
		left: 258px;
		width: 130px;
		height: 100px;
	}

	.promo-slogan-wrap p {
		color: rgba(214, 43, 43, 1);
		letter-spacing: 1px;
	}

	.promo-slogan-wrap p:first-child {
		font-size: 44px;
	}

	.promo-slogan-wrap p:nth-child(2),
	.promo-slogan-wrap span {
		font-size: 25px;
		line-height: 24px;
	}

	.promo-slogan-wrap p:last-child {
		font-size: 37px;
	}
}


/* Второй блок */

.second-block {
	max-height: 920px;
	height: 46vw;
}

.yellow-brick {
	display: flex;
	flex-direction: column;
	background-image: url('../img/yellow-brick.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.yellow-brick span {
	display: inline-block;
	margin: 10px -7px;
	padding: 0 8px;
	font-family: 'Gotham Pro';
	font-size: 38px;
	background-color: rgba(255, 255, 255, 1);
}

.yellow-brick p {
	position: relative;
	top: 5%;
	left: 15%;
	width: 40%;
	height: 30%;
	font-family: 'Gotham Pro Bold';
	font-size: 36px;
	line-height: 47px;
}

.yellow-brick p:before {
	content: "";
	display: block;
	background-image: url('../img/social-stickers.png');
	background-size: 158px 205px;
	width: 158px;
	height: 205px;
	margin-bottom: 5px;
	left: 0.8rem;
}

@media (max-width: 640px) {
	.second-block {
		height: 1276px;
		max-height: 1276px;
	}

	.yellow-brick {
		background-image: url('../img/yellow-brick-mobile.png');
		background-color: rgba(255, 255, 255, 1);
		height: 637px;
	}

	.yellow-brick span {
		color: rgba(214, 43, 43, 1);
		font-size: 41.6px;
		padding: 0 11px;
	}

	.yellow-brick p {
		font-size: 40.8px;
		top: 50px;
		left: 10%;
	}

	.yellow-brick p:before {
	background-image: url('../img/social-stickers-mobile.png');
	width: 267px;
	height: 227px;
	background-size: contain;
	}
}

/* Кнопка Галерея */

.gallery-button {
	color: white;
	background-color: rgba(143, 12, 0, 0.1);
	border: 2px solid white;
	width: 205px;
	height: 60px;
	padding: 20px 40px;
	font-family: Gotham Pro Light;
	font-size: 22px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	top: 21rem;
	left: 6rem;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.gallery-button:hover {
	background-color: rgba(143, 12, 0, 0.2);
}

@media (max-width: 640px) {
	.gallery-button {
		width: 224px;
		height: 62px;
		top: 16.8rem;
		left: 25rem;
	}	
}

/* Галерея 3х3 */

.gallery {
	padding: 13px;
	background-color: rgba(255, 255, 255, 1);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 6px;
}

.gallery-img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.gallery-img-first {
	background: url(../img/stub/gllrmgfrst.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery-img-second {
	background: url(../img/stub/gllrmgscnd.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery-img-third {
	background: url(../img/stub/gllrmgthrd.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery-img-fourth {
	background: url(../img/stub/gllrmgfrth.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery-img-fifth {
	background: url(../img/stub/gllrmgffth.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery-img-sixth {
	background: url(../img/stub/gllrmgsxth.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery-img-seventh {
	background: url(../img/stub/gllrmgsvnth.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery-img-eighth {
	background: url(../img/stub/gllrmgeghth.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.gallery-img-ninth {
	background: url(../img/stub/gllrmgnnth.png) no-repeat;
	background-size: cover;
	background-position: center;
}

@media (max-width: 640px) {
	.gallery {
		padding: 15px;
		grid-gap: 4px;
	}

	.gallery-img {
		height: 200px;
	}
}

/* Третий блок */

.third-block {
	max-height: 920px;
	height: 45.7vw;
}

.about {
	background-color: rgba(238, 17, 0, 1);
	z-index: 1;
}

.about h2 {
	color: rgba(255, 255, 255, 1);
	font-family: 'Gotham Pro Bold';
	font-size: 50px;
	/*font-size: 1.36rem;*/
	line-height: 52px;
	width: 270px;
	position: relative;
	top: 23.8%;
	left: 48.5%;
}

.about p {
	color: rgba(255, 255, 255, 1);
	font-family: 'Gotham Pro';
	font-size: 18px;
	line-height: 22px;
	margin-left: 80px;
	position: relative;
	top: -50px;
	width: 380px;
}

.about p:before{
	content: "";
	display: block;
	background-image: url('../img/about_snacks.png');
	background-size: contain;
	width: 220px;
	height: 245px;
	position: relative;
	top: -10px;
	left: -15px;
}

.about-button {
	color: white;
	background-color: rgba(143, 12, 0, 0.1);
	border: 2px solid white;
	width: 205px;
	height: 65px;
	padding: 20px 40px;
	font-family: 'Gotham Pro Light';
	font-size: 21px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	left: 6rem;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.about-button:hover {
	background-color: rgba(143, 12, 0, 0.2);
}

.about::after {
	content: "";
	background-image: url('../img/red-arrow.png');
	width: 43px;
	height: 90px;
	position: absolute;
	top: 55%;
	left: 55%;
}

.balloon_wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.balloon {
	width: 100%;
	height: 100%;
	background: url('../img/balloon.jpg') no-repeat;
	background-size: 100%;
	background-position: center;
	-o-transition: all 10s ease-in-out;
	-moz-transition: all 10s ease-in-out;
	-webkit-transition: all 10s ease-in-out;
	transition: all 10s ease-in-out;
}

.balloon:hover {
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

@media (max-width: 640px) {
	.third-block {
		max-height: 1280px;
		height: 1280px;
	}

	.about {
		background-image: url('../img/about_block_mobile.png');
		background-color: rgba(26, 100, 194, 1);
		width: 100%;
		height: 640px;
	}

	.about h2 {
		font-size: 56.8px;
		line-height: 60px;
		width: 576px;
		top: 82px;
		left: 64px;
	}

	.about p {
		font-size: 24px;
		line-height: 33px;
		width: 280px;
		top: 135px;
		margin-left: 64px;
	}

	.about p:before {
		display: none;
	}

	.about-button {
		background-color: rgba(255, 245, 159, 0.1);
		font-size: 22.5px;
		font-family: 'Gotham Pro';
		letter-spacing: 0;
		padding: 21px 43px;
		width: 228px;
		height: 66.39px;
		top: 215px;
		left: 209px;
	}

	.about::after {
		display: none;
	}

	.balloon {
		background-image: url('../img/balloon_mobile.jpg');
		height: 640px;
	}
}

/* Четвёртый блок */

.fourth-block {
	max-height: 920px;
	height: 46vw;
}

.people_wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.people {
	width: 100%;
	height: 100%;
	background: url('../img/people.jpg') no-repeat;
	background-size: cover;
	-o-transition: all 10s ease-in-out;
	-moz-transition: all 10s ease-in-out;
	-webkit-transition: all 10s ease-in-out;
	transition: all 10s ease-in-out;
}


.people:hover {
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.map {
	background: url('../img/map.jpg') no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.map p {
	font-size: 55px;
	font-family: 'Gotham Pro Bold';
	color: rgba(48, 31, 32, 1);
	position: relative;
	top: 67.5%;
}

.map-button {
	color: white;
	background-color: rgba(143, 12, 0, 0.1);
	border: 2px solid white;
	width: 205px;
	height: 60px;
	padding: 20px 40px;
	font-family: 'Gotham Pro Light';
	font-size: 21px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	top: 72.5%;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.map-button:hover {
	background-color: rgba(143, 12, 0, 0.2);
}

.map::after {
	content: "";
	background-image: url('../img/yellow-arrow.png');
	width: 43px;
	height: 90px;
	position: absolute;
	top: 83%;
	left: 53%;
}

@media (max-width: 640px) {
	.fourth-block {
		max-height: 1280px;
		height: 1280px;
		display: flex;
		flex-direction: column-reverse;
	}

	.people_wrap{
		background-image: url('../img/people_mobile.jpg');
		height: 640px;
		background-position-y: -32px;
	}

	.map {
		background-image: url('../img/map_mobile.png');
		background-color: rgba(179, 216, 242, 1);
		height: 640px;
	}

	.map p {
		font-size: 59.2px;
		top: 400px;
	}

	.map-button {
		font-family: 'Gotham Pro';
		width: 224px;
		height: 62.39px;
		top: 455px;
	}

	.map::after {
		display: none;
	}
	
}

/* Стилизация футера */

.main-footer {
	display: flex;
	justify-content: space-between;
}

.main-footer p {
	display: flex;
	align-items: center;
	font-size: 13px;
	color: rgba(180, 180, 180, 1);
}

.main-footer p:before {
	content: '';
	display: block;
	background-image: url('../img/mini-logo.jpeg');
	width: 50px;
	height: 60px;
	margin:0 2px 0 17px;
}

@media (max-width: 640px) {
	.main-footer {
		height: 42px;
	}

	.main-footer p {
		font-family: 'Arial', 'Helvetica', sans-serif;
		font-size: 9px;
	}
	
	.main-footer p:before {
		display: none;
	}

	.logo-copyright {
		align-self: center;
		margin-left: 29px;
	}

	.logo-copyright span {
		display: none;
	}
}

/* Соц сети */

.social-links {
	list-style: none;
	display: flex;
}

.social-links li a {
	display: block;
	height: 100%;
}

.social-links li {
	width: 60px;
	height: 100%;
	opacity: 0.85;
	-webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.social-links li:hover {
	opacity: 1;
}

.social-links_fb {
	background-color: rgba(50, 106, 162);
	background-image: url('../img/social_fb.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px 35px;
}

.social-links_vk {
	background-color: rgba(52, 121, 168);
	background-image: url('../img/social_vk.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px 35px;
}

.social-links_web {
	background-color: rgba(237, 191, 17);
	background-image: url('../img/social_web.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px 35px;
}

.social-links_yt {
	background-color: rgba(196, 7, 14);
	background-image: url('../img/social_yt.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px 35px;
}

@media (max-width: 640px) {
	.social-links li {
		width: 45px;
		background-size: 52%;
	}

	.social-links_fb {
		background-image: url('../img/social_fb_mobile.jpeg');
	}

	.social-links_vk {
		background-image: url('../img/social_vk_mobile.jpeg');
	}

	.social-links_web {
		background-image: url('../img/social_web_mobile.jpeg');
	}

	.social-links_yt {
		background-image: url('../img/social_yt_mobile.jpeg');
	}

}
